// -------------------------------- // 共通パーツ
// -------------------------------- //
// ---------------- root setting ---------------- //
:root {
	--color-bg: #f7f7f7;
	--color-white: #fff;
	--color-dark: #444;
	--color-text: #333;
	--color-brand: #a1f4ef;
	--color-brand--hover: #ab4409;
	--width-container: 1060px;
	--width-media: 940px;
	--space-container: 80px;
	--space-base: 4px;
	--hover-opacity: 0.7;
	--lineheight-none: 1;
	--lineheight-title: 1.5;
	--lineheight-text: 1.75;
	--font-small: 14px;
	--font-text: 16px;
	--font-title: 30px;
	--z-index-opening: 400;
	--z-index-cursor: 1000;
	--z-index-header: 5;
	--z-index-mainContent: 4;
	--z-index-mainContent-decoration: -1;
	--z-index-kv: -1;
}

// ---------------- common ---------------- //
html {
	scroll-behavior: smooth;
}

.container {
	max-width: 360px;
	width: 100%;
	background: #f0f;
}

// マークアップしてるけど画像で見せているので隠し
.visually-hidden,
.content__area {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

div {
	display: flex;
	align-items: baseline;
}
