<!DOCTYPE html>
<html lang="ja">
<% var path = './'; %>
<% var title = 'titleですよー'; %>
<% var description = 'descriptionすよー'; %>
<% var ogimage = ''; %>
<% var ogurl = ''; %>
  <head>
    <% include ./templates/_head %>
  </head>

  <body>
    <% include ./templates/_gta %>
		<h1>こんにちは！！！！！</h1>
    <script src="<%= path %>assets/js/script.min.js" ></script>
  </body>
</html>

